syntax: glob
Build
Temp
obj
*.suo
*.sln
*.sln.docstates
*.csproj
*.unityproj
*.pidb
*.userprefs
*.DS_Store
Thumbs.db
Library/ScriptAssemblies
Library/cache
Library/metadata
Library/previews
Library/AssetImportState
Library/AssetServerCacheV3
Library/AssetVersioning.db
Library/BuildPlayer.prefs
Library/EditorUserBuildSettings.asset
Library/FailedAssetImports.txt
Library/InspectorExpandedItems.asset
Library/MonoManager.asset
Library/ScriptMapper
Library/assetDatabase3
Library/assetservercachev3
Library/expandedItems
Library/guidmapper
Library/AnnotationManager
Library/CurrentLayout.dwlt
Library/CurrentMaximizeLayout.dwlt
*-csharp.sln.*/